@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none !important;
}

input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}

input[type="password"]::-webkit-contacts-auto-fill-button {
  display: none !important;
}

/* Cho Firefox */
input[type="password"]::-moz-credentials-auto-fill-button {
  display: none !important;
}

/* Cho Microsoft Edge */
input[type="password"]::-ms-reveal {
  display: none !important;
}

input[type="password"]::-ms-clear {
  display: none !important;
}